* {
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.exemplo {
    background-color: black;
    width: 200px;
    height: 200px;
    border: 30px solid;
    margin: 50px auto;
}
#exemplo-resumido {
    border-image: url('./img/star.png') 169 / 10px / 1 round;
}
#exemplo-1{
    border-image-source: url('./img/star.png');
    border-image-repeat:round; /*round, repeat e space*/
    border-image-slice: 169;
    border-image-outset: 1;
}
#exemplo-2 {
    border-image-source: linear-gradient(pink, blue);
    border-image-slice: 10;

}